<div class="content">
<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
	<div class="container">
	   <div class="row">
		  <div class="col-12">
			 <nav class="main-nav">
				<!-- ***** Logo Start ***** -->
				<a href="index.html" class="logo">
				<img src="../../../../images/TR-logo.png" alt="">
				</a>
				<!-- ***** Logo End ***** -->
				<!-- ***** Search End ***** -->
				<div class="search-input">
				   <form id="search" action="#">
					  <input type="text" placeholder="Type Something" id='searchText' name="searchKeyword" onkeypress="handle" />
					  <!-- <i class="fa fa-search"></i> -->
				   </form>
				</div>
				<!-- ***** Search End ***** -->
				<!-- ***** Menu Start ***** -->
				<ul class="nav">
				   <li><a href="index.html" class="active">Home <img src="../../images/home.png" alt=""></a></li>
				   <li><a href="Message.html">Messages <img src="../../images/message.png" alt=""></a></li>
				   <li><a href="Message.html">Settings <img src="../../images/settings.png" alt=""></a></li>
				   <li><a href="Message.html">Log out <img src="../../images/logout.png" alt=""></a></li>
				   <li><a href="profile.html">Profile <img src="../../images/profile-header.jpg" alt=""></a></li>
				</ul>
				<a class='menu-trigger'>
				<span>Menu</span>
				</a>
				<!-- ***** Menu End ***** -->
			 </nav>
		  </div>
	   </div>
	</div>
 </header>
 <!-- ***** Header Area End ***** -->
 <div class="container">
	<div class="row">
	   <div class="col-lg-12">
		  <div class="page-content">
			 <!-- ***** Banner Start ***** -->
			 <div class="main-banner">
				<div class="row">
				   <div class="col-lg-7">
					  <div class="header-text">
						 <h6>Welcome To Ping Pong</h6>
						 <h4><em>Ready</em> For A Gaming Surprise? Click 'Play'</h4>
						 <div class="main-button">
							<a href="browse.html">Play</a>
						 </div>
					  </div>
				   </div>
				</div>
			 </div>
			 <!-- ***** Banner End ***** -->
			 <!-- ***** Games mode Start ***** -->
			 <div class="most-popular">
				<div class="row">
				   <div class="col-lg-12">
					  <div class="heading-section">
						 <h4><em>Games</em> Mode</h4>
					  </div>
					  <div class="container">
						 <div class="swiper">
							<div class="swiper-wrapper">
							   <div class="swiper-slide">
								  <img
									 src="../../images/pingpong.png" />
								  <p>CLASSIC</p>
							   </div>
							   <div class="swiper-slide">
								  <img
									 src="../../images/leaderboard.jpg" />
								  <p>TOURNAMENT</p>
							   </div>
							   <div class="swiper-slide">
								  <img
									 src="../../images/friends.png" />
								  <p>FREINDS MODE</p>
							   </div>
							   <div class="swiper-slide">
								  <img
									 src="../../images/tictactoe.png" />
								  <p>TIC TAC TOE</p>
							   </div>
							</div>
							<div class="swiper-pagination"></div>
						 </div>
					  </div>
				   </div>
				</div>
			 </div>
			 <!-- ***** Games Mode End ***** -->
		  </div>
	   </div>
	</div>
 </div>
 <footer>
	<div class="container">
	   <div class="row">
		  <div class="col-lg-12">
			 <p>Copyright © 2048 <a href="#">42Transcendence </a> 
				<span>DON-FREX</></span>
		  </div>
	   </div>
	</div>
 </footer>

</div>